.jojo{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dc2929;
}


.navbar {
  overflow: hidden;
  background-color: rgb(240, 13, 13);
  background-image: url(earth.jpg);
  position: sticky;
  top: 0;

}
.back-grid {
    width: 300px;
    display:inline-block;
   
}
.parent{
    background-image: url(roses.jpeg);
    display: inline;
    padding: 70px;
    

}


.header-grid {
    display: grid;
    justify-items: center;
    border-radius: 50%;
    padding: 10px

}



.navbar a {
  float: left;
  display: block;
  color: #dc2929;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: rgb(165, 23, 23);
}

.navbar a.active {
  background-color: red;
  color: rgb(178, 3, 3);
}

.content {
  padding: 16px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.contact{
    font-size: 50px;
}
